<ion-view view-title="Datos Abiertos Zacatecas" class="f" id="cabecera">

    <ion-content class="padding">

        <br>
        <div id="formaBienvenido" class="padding">

              <h4>Bienvenido a la Aplicación Móvil Datos Abiertos Zacatecas</h4>

        </div>
        <br>
        <div id="formatoTexto" class="padding">
             <div id="colorTextoAcerca">
                    <img id="imagenBienvenido" src="img/zaca.jpg" width="20%" height="20%" style="float:right;" />
                         Esta app recaba datos que las instituciones han proporcionado para su uso libre y de provecho para cualquier persona, información libre y al alcance.
             </div>
        </div>
         <br><br>
        <div id="formaBienvenido" class="padding">

              <h4>Gestionado con Ckan</h4>

        </div>
        <br>
        <div id="formatoTexto" class="padding">

             <div id="colorTextoAcerca">

                 <img id="imagenBienvenido" src="img/ckan.png" width="20%" height="20%" style="float:right;" />
                        <p> CKAN es la plataforma de datos, de código abierto, líder a nivel mundial. </p>

                        <p>CKAN es una solución completa de software lista para utilizar que hace los datos accesibles y utilizables al proveer herramientas para publicar, compartir, encontrar y usar los datos (incluyendo almacenamiento de datos y provisión de APIs de datos robustas). CKAN está orientada a proveedores de datos (gobiernos nacionales y regionales, compañías y organizaciones) que desean hacer sus datos abiertos y disponibles.</p>

                        <!--<p>CKAN es utilizada por gobiernos y grupos de usuarios a nivel mundial y gestiona una variedad de portales de datos oficiales y comunitarios, incluyendo portales para gobiernos locales, nacionales e internacionales tales como data.gov.uk de Reino Unido, publicdata.eu de la Unión Europea; dados.gov.br de Brasil; además portales de los gobiernos de Dinamarca y Holanda, así como también sitios de ciudades y municipalidades en Estados Unidos, Reino Unido, Argentina, Finlandia y en otros lugares.</p>-->
                  
             </div>
       
        </div>

        
    </ion-content>

</ion-view>
